*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling the main body*/

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.card-container {
    max-height: 450px;
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;;
}

/*Making the container share equal space*/

.image-container, .content-container {
    flex: 1;
    height: 100%;
    width: 100%;
}

/*Hide the mobile image for now*/

.mobile {
    display: none;
}

/*main image*/

.desktop {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

/*end main image*/

/*content container*/

.content-container{
    padding: 20px;
}

.preview {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: small;
    color:  hsl(228, 12%, 48%);
    margin-bottom: 16px;
    margin-top: 20px;
}

.title {
    font-family: 'Fraunces', serif;
    font-size: 700;
    color: hsl(212, 21%, 14%);
    margin-bottom: 20px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:  hsl(228, 12%, 48%);
    margin-bottom: 20px;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 32px;
}

.left {
    font-family: 'Fraunces', serif;
    font-family: 700;
    letter-spacing: -2px;
    font-size: xx-large;
    color: hsl(158, 36%, 37%)
}

.right {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.button-container {
    width: 100%;
}

.button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
}

.cart-cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 12px;
    color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .card-container {
        flex-direction: column;
    }

    .image-container{
        max-width: 450px ;
    }

    .mobile {
        display: block;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px 10px 0 0;
    }

    .content-container {
        max-height: 600px;
        max-width: 450px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
   
}

